<html style="background-ia">
   <img id="aaa" src="/assets/<%= $school_name %>" style="width:600px; height:842px">
 <script type="text/javascript">
    window.document.print('adjj')
    function forwarding()
{location = "/"}
</script>

<body id=factory onLoad="setTimeout('forwarding()', 1)">
    
    
                <div class="adjj" style="font-align:center; display:block; position:absolute; top: 608px; left: 485px; z-index:3; font-size:18px;">
                        <p ><%= @subject %></p>
                        <p style="margin-top:16px"><%= @professor %></p>
                        <p style="margin-top:17px"><%= @major %></p>
                        <p style="margin-top:17px"><%= @year %></p>
                        <p style="margin-top:17px"><%= @stnumb %></p>
                        <p style="margin-top:17px"><%= @username %></p>
                        <p style="margin-top:18px"><%= @day %></p>
                </div>
</html>