
<img id="aaa" src="/assets/<%= $school_name %>.jpg" style="width:100%; height:100%">
<script type="text/javascript">
window.print()
function forwarding()
{location = "/"}
</script>
<style>
@page{  size:auto; margin : 1mm;}

body#p_page3 {
display:fixed;

}
</style>

<body id=factory onLoad="setTimeout('forwarding()', 1);">

<div class="adjj" style="font-align:center; display:block; position:absolute; top: 638px; left: 545px; z-index:3; font-size:18px;">
    <style>
        p {
            font-size:23px;
        }
    </style>
<p style="margin-top:24px"><%= @subject %></p>
<p style="margin-top:14px"><%= @professor %></p>
<p style="margin-top:14px"><%= @major %></p>
<p style="margin-top:14px"><%= @year %></p>
<p style="margin-top:14px"><%= @stnumb %></p>
<p style="margin-top:14px"><%= @username %></p>
<p style="margin-top:13px"><%= @day %></p>
</div>


